.SideBar {
  height: 100%;
  background-color: #f7f7f7;
  border-right: 1px solid #ececec;
  padding: 15px;
}

.SideBar .nav-link {
  text-decoration: none;
  color: rgba(26, 26, 26, 0.75);
  transition: color 0.2s ease-out;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;

  font-weight: 400;
  line-height: 1.5;
  /* color: #212529; */
  text-align: left;
}

.SideBar .active {
  font-weight: 500;
  color: #1a1a1a !important;
  background-color: #f7f7f7 !important;
}
