.RoleBasedSettings .nav-tabs {
  background-color: #f7f7f7;
}

.RoleBasedSettings .nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgba(26, 26, 26, 0.75);
}

.RoleBasedSettings .nav-link.active {
  font-weight: 500;
  color: #1a1a1a !important;
}
